body {
    margin: 0;
    background-color: #FF8888;
    font-family: 'Open Sans', sans-serif;
    background-image: url("./img/Pokeball-background.jpg");
    background-size: cover;
    background-position: center;
    background-color: #e16666;
    background-repeat:no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-link{
    text-decoration: none;
    color: white;
}

.headline {
    border: 5px solid black;
    border-radius: 69px;
    padding-inline: 20px;
    border-top: 0;
    background-color: red;
    color: white;
    
}

input{
    height: 32px;
    border: 2px solid black;
    font-size: 24px;
    width: 200px;
    border-radius: 6px;
}

input:hover{
    cursor: pointer;
}

#show-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 40px;
    margin-bottom: 100px;

}

.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 270px;
    border-radius: 16px;
    transition: transform .8s;
    color: white;
    font-size: 20px;
    border: 9px solid #828214;

}

.pokemon-container:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.traits {
    background-color: grey;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    color: black;
    font-size: 16px;

}

#poke-img {
    width: 100px;
    height: 100px;

}

.imgAndTrait {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: bold;
}

h3 {
    margin-block-start: 16px;
}

#load-more-btn {
    background-color: #9d3636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform .8s;
}

#load-more-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-container {
    display: flex;
    justify-content: center;
}
.arrow{
    object-fit: contain;
    position: absolute;
    right: 24px;
    transition: transform .8s;
}

.arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#pokeball {
    width: 80px;
    object-fit: cover;
}

#pokeball-loader{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px; 
    height: 500px;
    animation: rotate 2s linear infinite; /* Animation hinzufügen und das rotate wird dann von dem keyframes ausgeführt */
    transform-origin: center; /* Um den Drehpunkt in die Mitte zu setzen */
}


@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg); /* Keine Rotation */
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg); /* Vollständige Rotation (1 Umdrehung) */
    }
}

#pokeball-loader img{
    width: 250px;
}

.d-flex{
    display: flex !important;
}



