body{
    margin: 0;
    background-color: #FF8888;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
.headline{
    border: 5px solid black;
    border-radius: 69px;
    padding-inline: 20px;
    border-top: 0;
}
#show-pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
    margin: 40px;
    
}
.pokemon-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 300px;
    width: 250px;
   /* background-color: green;*/
    border-radius: 16px;
}
#traits{
    background-color: grey;
    padding: 8px;
    border-radius: 6px;
    text-align: center;

}

#poke-img{
    width: 100px;
    height: 100px;
    
}
.imgAndTrait{
display: flex;
flex-direction: column;
gap: 16px;
}
